.cabecalho{
    display: flex;
    justify-content: center;
    background-color: rgb(231, 129, 163);
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(145, 143, 143);
    
}

.cabecalho:hover{
    transition: 5s;
    display: flex;
    justify-content: center;
    background-color: rgb(202, 126, 218);
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(145, 143, 143);

}

